.mainpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%); /* Home 페이지와 동일한 배경색 */
  font-family: 'Arial', sans-serif;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}